body {
    background-color: #333333;
}

h1 {
    text-align: center;
    color: snow;
}

h2 {
    text-align: center;
    color: snow;
}

h3 {
    text-align: center;
    color: snow;
}
img {

    filter:grayscale(90%);
    height: 50%;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li {
    text-align: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    display: inline;
}

a {
    text-align: right;
    text-decoration: none;
    color:grey;
}

.right {
    display: block;
    margin-left: auto;
    margin-right: 5%;
}

p {
    color: white;
    text-align: center;
    font-size: 20px;
}

span {
    margin-left: 3%;
}

.glass {
    /* background-color: rgba(0, 0, 0, 0.20); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.50));
    padding: 20px;
}

.mb-med {
    margin-bottom: 2rem;
}