body {
    background-color: #333333;
}

h1 {
    text-align: center;
    color: snow;
}

h2 {
    text-align: center;
    color: snow;
}

h3 {
    text-align: center;
    color: snow;
}
img {
    filter: grayscale(100%);
    width:  100px;
    height: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
    text-align: right;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    display: inline;
}

a {
    text-align: right;
    text-decoration: none;
    color:grey;
}

.right {
    display: block;
    margin-left: auto;
    margin-right: 5%;
    width: 50%;
}

p {
    color: white;
    text-align: left;
    font-size: 20px;
}